Repository viccsen/vite-react-template: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, stylelint --fix --allow-empty-input

.lintstagedrc:

{
  "src/**/*.{ts,tsx,js,jsx}": ["eslint --fix"],
  "src/**/*.{less,css}": ["stylelint --fix --allow-empty-input"]
}

feat: almost done
  . prettierrc
  .eslintcache
  .eslintrc-auto-import.json
  .eslintrc.cjs
  .gitignore
  build/resolvers/antd.ts
  package.json
  pnpm-lock.yaml
  src/App.css
  src/App.tsx
  src/auto-imports.d.ts
  src/global.less
  src/index.css
  src/main.tsx
  src/pages/about/index.tsx
  src/pages/index/index.less
  src/pages/index/index.module.less
  src/pages/index/index.tsx
  src/pages/layout.tsx
  src/pages/login.tsx
  src/pages/manages/$id/index.tsx
  src/pages/manages/index.tsx
  src/pages/not-found.tsx
  src/router/index.tsx
  src/stores/auth.ts
  src/stores/index.ts
  src/utils/helper.ts
  src/utils/namespace.ts
  src/vite-env.d.ts
  tsconfig.json
  tsconfig.node.json
  vite.config.ts
Due: eslint --fix, stylelint --fix --allow-empty-input

feat: file delete
  .eslintcache
Due: none

feat: almost
  .gitignore
  src/components/Loader/index.less
  src/components/Loader/index.tsx
  src/components/Loading/index.less
  src/components/Loading/index.tsx
  src/pages/login.tsx
  src/router/index.tsx
Due: eslint --fix, stylelint --fix --allow-empty-input

feat: 完善
  .eslintrc.cjs
  .gitignore
  package.json
  pnpm-lock.yaml
  src/caches/index.ts
  src/services/auth.ts
  src/services/notice.ts
  src/stores/loading.ts
  src/utils/helper.ts
  src/utils/namespace.ts
  src/utils/request.ts
  src/utils/storage.ts
Due: eslint --fix

feat: 完善
  src/stores/auth.ts
  src/utils/request.ts
Due: eslint --fix
